* {
  margin: 0;
}

body {
background-color: black;

}

span {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 80px;
  color: black;


/*
font-family: poynter-gothic-text, sans-serif;

font-weight: 400;

font-style: normal;
*/

font-family: franklin-gothic-urw, sans-serif;

font-weight: 400;

font-style: normal;
}

body {
  line-height: 90px;
}

.maintext {

}


.paragraphs {
  padding-top: 120px;
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 40px;

}


.hexgallery {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
  transition: 1s all ease-in-out;

}

.hexgallery1 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: none;
  transition: 1s all ease-in-out;

}

.hexgallery2 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery3 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery4 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery5 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery6 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery7 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}

.hexgallery8 {
  height: 420px;
  width: 700px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


  display: inline-block;
}


.subdiv {
  height: 300px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;



  display: inline-block;
}
.subdiv2 {
  height: 200px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;



  display: inline-block;
}
.secondsubdiv {
  height: 200px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;




  display: inline-block;
}

.subdiv1{
  height: 300px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;

}

.secondsubdiv1 {
  height: 250px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;


}

.thirdsubdiv {
  height: 220px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;




  display: inline-block;
}

.link {
  color: white;
}

.row {
  display: flex;
  background-color: black;
  color: white;
}

.column {
  flex: 50%;
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-top: 120px;
}


.headerr {
  line-height: 30px;
  font-size: 80px;
  color: white;



font-family: poynter-gothic-text, sans-serif;

font-weight: 400;

font-style: normal;

}
.everything {
  height: 65%;
  width: 95%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;





}

.everythingsub1{
  height: 85%;
  width: 90%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.everythingsub2 {
  height: 80%;
  width: 85%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.everythingsub3 {
  height: 80%;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
.everythingsub4 {
  height: 75%;
  width: 75%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}
.everythingsub5 {
  height: 50%;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 20;
  font-size: 30px;
  line-height: 40px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}


.invisible {
  color: white;
  font-size: 30px;
}

.indefinite {
  font-size: 80px;
  color: white;
  font-family: poynter-gothic-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  transition: 1s all ease-in-out;

}

#example {
  width: 100px;
  height: 100px;
  display: none;

}

#example:target {
  display: block;
}
