.hi {

  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 600px 400px;
}


img {
  background-image:;
  position: fixed;
  transform: rotate(20deg);
}

.
